@page
@model WebMegaDesk.Pages.AboutModel
@{
}

<div class="container h2">
    <p>
        This site was created by CIT 365 - Team Bountiful in 2021. This site meets the requirements for the MegaDesk team project. 
    </p>
    <h3 class="my-5">Team Members:</h3>
    <ul>
        <li>Shayne Pierce</li>
        <li>Tommy Knorr</li>
        <li>Kevin Nielsen</li>
        <li>Kyle Johnson</li>
    </ul>
    <p class="my-5">Thanks for visiting our MegaDesk web site!</p>
</div>