@model MyMeetingManager.Models.Ward

@{
    ViewData["Title"] = "Remove Ward";
}

<h1 class="text-center">Remove Ward</h1>
<hr />
<h3 style="color:red;">Are you sure you want to remove this Ward?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input class="btn btn-danger" type="submit" value="Remove" /> |
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </form>
</div>
