@model MyMeetingManager.Models.Ward

@{
    ViewData["Title"] = "Ward Details";
}

<h1 class="text-center">Ward Details</h1>
<hr />

<div>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Update</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
